# Backend
/backend/node_modules/
/backend/.env

# Frontend
/frontend/node_modules/
/frontend/.env

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Docker
*.dockerfile
docker-compose.override.yml
mysql-data/
es-data/
db-init/
node_modules/
.env

